$vertical-space: $navbar-height * 1.5;

body.contact {
  background-color: $minifastWhite;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  margin-top: $vertical-space;

  .contact-info {
    @extend .container-fluid;

    // TODO: Add email icon
    .email-link a {
      @extend .col-lg-6;
      @extend .col-md-6;
      @extend .col-sm-6;
      // @extend .glyphicon;
      // @extend .glyphicon-envelope;
      text-decoration: none;
      color: black;
    }

    // TODO: Add twitter icon
    .twitter-link a {
      @extend .col-lg-6;
      @extend .col-md-6;
      @extend .col-sm-6;
      text-decoration: none;
      color: black;
      text-align: right;
    }
  }

  .contact-form {
    margin-top: $vertical-space;
    margin-bottom: $vertical-space;
    border: solid $text-color;
    padding: 2ex;

    h1 {
      text-align: center;
      font-size: $font-size-large;
    }

    label {
      padding-top: .5em;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    input, textarea {
      @extend .form-control;
      background-color: $minifastWhite;
      border-color: $text-color;
    }

    input[type="submit"] {
      @extend .btn;
      width: auto;
      margin-top: 2em;
      color: $body-bg;
      background-color: $text-color;
    }
  }
}
