article, header, footer {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Josefin Sans";
    font-weight: 700;
  }

  a {
    text-decoration: none;
  }

  p {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
  }
}

header {
  h1.logo {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    @include hide-text;
    background: white image-url('minifast.png') center center no-repeat;
    background-size: 300px;
  }
}

header, footer {
  text-align: center;
}

header {
  padding: 10rem 0;

  @include media($mobile) {
    padding: 2rem 0;
  }
}

footer {
  padding: 12rem 0;
}

article {
  p {
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px,
                 rgba(0, 0, 0, 0.2) 0 -1px 3px,
                 rgba(0, 0, 0, 0.3) 0 0 10px;
  }

  h1 {
    @include dimensional-text;
  }
}

section {
  color: white;
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  padding: 15rem 0;

  @include media($mobile) {
    padding: 4rem 0;
  }

  article {
    @include outer-container;
  }

  h1 {
    @include span-columns(12);
    @include omega;
    text-align: center;
    margin-bottom: 5rem;

    @include media($mobile) {
      @include span-columns(4);
      margin-bottom: 1rem;
      padding: 0 2rem;
      text-align: left;
    }
  }

  p {
    @include span-columns(6);
    padding: 0 2rem;
    text-align: right;

    @include media($mobile) {
      @include span-columns(4);
      text-align: left;
    }
  }

  p + p {
    padding-left: 1rem;
    padding-right: 3rem;
    text-align: left;

    @include media($mobile) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

.who, .how {
  padding: 10rem 0;

  @include media($mobile) {
    padding: 4rem 0;
  }
}

.summer {
  background-image: image-url('wheat-field.jpg');
}

.fall {
  background-image: image-url('fog.jpg');
  background-position: 50% 100%;
}

.winter {
  background-image: image-url('grass.jpg');
  background-position: 100% 50%;
}

.spring {
  background-image: image-url('green-wheat.jpg');
}

.street {
  background-image: image-url('playing-card.jpg');
}
