section {
  @include outer-container;
}

article {
  background: white;
  overflow: hidden;
  position: relative;
  color: black;
  padding-top: em(100);
  padding-bottom: em(100);

  h1 {
    @include span-columns(12);
    @include row(table);
    text-align: center;
    position: absolute;
  }

  p {
    @include span-columns(6);
    @include pad;
    padding-top: em(160);
    padding-bottom: em(100);
    background-repeat: no-repeat;
    background-size: 200%;
    background-color: rgba(255, 255, 255, 0.3);
  }

  p:first-of-type {
    background-position: center left;
  }

  p:last-of-type {
    @include reset-display;
    background-position: center right;
  }
}

.logo {
  height: em(600);
  padding-top: em(150);

  header {
    height: 16rem;
    width: 16 * 1.7rem;
    left: 50%;
    margin-left: (16 * 1.7rem) / -2;
    @include hide-text;
    background-image: image-url('minifast.png');
    background-size: 90%;
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
  }
}
