.navbar a {
  text-transform: uppercase;
  font-size: 11px;
}

.navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  width: 140px;
  text-align: center;
  z-index: 10000;
}

.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
  margin-left: -70px;
}


@media (max-width: $screen-xs-max) {
  .navbar-collapse {
    background-color: $minifastRed;
    min-height: 100%;
  }

  .navbar-nav {
    padding: 5rem 0;
  }

  .navbar-nav li {
    text-align: center;
  }

  .navbar-collapse .navbar-nav > li > a {
    color: white;
  }
}

@media (min-width: $screen-sm-min) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar-brand-spacer {
    width: 240px;
    height: 20px;
  }
}
