.minifast-brands {
  background: minifast-color("cream", "500");
  padding: minifast-space(0) 0 minifast-space(2) 0;

  &__description {
    @extend %oceana-container;
    @extend %oceana-container--description;
  }

  &__title { @extend %oceana-title; }

  &__container {
    @extend %oceana-container;
    @extend %oceana-container--final;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include at-size(small) {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }
  }

  &__list-item {
    display: block;
    width: minifast-space(4);
    text-align: center;
    margin: 0 auto;
    padding: 0;
    & + & { margin-top: minifast-space(1); }

    @include at-size(small) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      flex: 1;
      & + & { margin-top: 0; }
    }
  }

  &__image {
    max-width: minifast-space(4);
    max-height: minifast-space(3);

    @include at-size(small) {
      max-width: minifast-space(3);
    }

    @include at-size(medium) {
      max-width: minifast-space(4);
    }
  }
}
