.minifast-brands {
  background-color: minifast-color("cream", "500");

  &__content {
    @extend %oceana-container;
    padding-top: minifast-space(2);

    & + & {
      padding-top: 0;
      padding-bottom: minifast-space(2);
    }
  }

  &__title {
    @extend %oceana-title;
    text-align: center;
    margin: 0 0 minifast-space(1) 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include at-size(small) {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }
  }

  &__list-item {
    display: block;
    width: minifast-space(4);
    text-align: center;
    margin: 0 auto;
    padding: 0;
    & + & { margin-top: minifast-space(1); }

    @include at-size(small) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      flex: 1;
      & + & { margin-top: 0; }
    }
  }

  &__image {
    max-width: minifast-space(4);
    max-height: minifast-space(3);

    @include at-size(small) {
      max-width: minifast-space(3);
    }

    @include at-size(medium) {
      max-width: minifast-space(4);
    }
  }
}
