.minifast-footer {
  background: minifast-color("gold", "700");
  text-align: center;

  @include at-size(small) {
    padding: minifast-space(-1) 0;
    text-align: left;
  }

  &__content {
    position: relative;
    vertical-align: middle;

    &--upper {
      padding: minifast-space(2) 0 minifast-space(1) 0;
      margin: 0 auto;
    }

    &--lower {
      border-top: 1px solid rgba(minifast-color("white", "0"), 1 / $golden-ratio);
      margin: 0 minifast-space(0);
      padding: minifast-space(0) 0;
    }

    @include at-size(small) {
      display: flex;
      &--upper {
        padding: minifast-space(-2) minifast-space(0);
        margin: minifast-space(-1) auto;
      }
      &--lower {
        margin: 0 auto;
        padding: minifast-space(-1) minifast-space(0) 0 minifast-space(0);
      }
    }

    @include at-size(medium) {
      &--upper { padding: minifast-space(2) minifast-space(0); }
      &--lower { padding-top: minifast-space(-1); }
    }
  }

  &__navigation {
    @include minifast-text("footer-navigation");
    display: block;
    color: minifast-color("white", "0");

    @include at-size(small) {
      flex: 1;
      text-align: right;
      padding-top: 0;
    }
  }

  &__links {
    margin: minifast-space(0) 0 minifast-space(-2) 0;
    padding: 0;
    list-style: none;

    @include at-size(small) {
      margin: 0;
    }
  }

  &__link-container {
    & + & { margin-top: minifast-space(-1); }

    @include at-size(small) {
      display: inline;

      & + & {
        &::before {
          content: '/';
          padding: 0 minifast-space(-3);
          margin-right: minifast-space(-3);
        }
      }
    }
  }

  &__link {
    color: minifast-color("white", "0");

    &--navigation { @include minifast-text("footer-navigation"); }
    &--small { @include minifast-text("footer-legal"); }
    &--logo {
      display: inline-block;
      height: header-size(portrait) / 3;

      @include in-landscape() {
        height: header-size(landscape) / 3;
      }

      @include at-size(small) {
        height: header-size(full) / 3;
      }
    }
  }

  &__logo {
    display: inline-block;
    height: header-size(portrait) / 3;

    @include in-landscape() {
      height: header-size(landscape) / 3;
    }

    @include at-size(small) {
      height: header-size(full) / 3;
    }
  }
}
