.minifast-header {
  &__container {
    @extend %oceana-container;
    @extend %oceana-header;
    background: minifast-color('red', '500');
    color: minifast-color('white', '0');

    @include at-size(small) {
      background: transparent;
      color: minifast-color('black', '1000');
    }
  }

  &__title {
    display: block;
    margin: 0;
  }

  &__link {
    @include minifast-text('mobile-menu');
    color: minifast-color('white', '0');
    display: block;
    text-align: center;

    @include at-size(small) {
      @include minifast-text('navigation');
      color: minifast-color('black', '1000');

      & + & { margin-left: minifast-space(-1); }
    }

    @include at-size(medium) {
      & + & { margin-left: minifast-space(1); }
    }

    &--title {
      margin: 0;
      display: block;
    }
  }

  &__logo {
    &--small {
      position: absolute;
      display: block;
      margin: 0 auto;
      left: minifast-space(-2);
      top: 50%;
      height: floor(header-size(portrait) / 3);
      margin-top: floor(header-size(portrait) / 3) / -2;

      @include in-landscape() {
        height: floor(header-size(landscape) / 3);
        margin-top: floor(header-size(landscape) / 3) / -2;
      }

      @include at-size(small) {
        height: floor(header-size(full) / 3);
        margin-top: floor(header-size(full) / 3) / -2;
      }
    }

    &--large {
      display: none;
      position: absolute;
      left: minifast-space(-2);
      top: 0;
      height: minifast-space(3);
    }

    @include at-size(small) {
      &--large { display: block; }
      &--small { display: none; }
    }
  }

  &__navigation-toggle-input { display: none; }

  &__navigation-toggle {
    position: absolute;
    right: minifast-space(-2);
    top: 50%;
    margin-top: floor(header-size(portrait) / -6);
    display: block;
    width: floor(header-size(portrait) / 3);
    height: floor(header-size(portrait) / 3);
    cursor: pointer;

    @include at-size(small) {
      display: none;
    }
  }

  &__navigation-toggle-bar {
    position: absolute;
    width: floor(header-size(portrait) / 3);
    height: 1px;
    background: minifast-color("white", "0");
    transition: transform .125s ease-in-out;

    &--top { transform: translatey(floor(header-size(portrait) / 3) / 4); }
    &--bottom { transform: translatey(floor(header-size(portrait) / 3) / 4 * 3); }
  }

  &__navigation-toggle-input:checked + &__navigation-toggle &__navigation-toggle-bar {
    &--top { transform: translatey(floor(header-size(portrait) / 3) / 2) rotate(45deg); }
    &--bottom { transform: translatey(floor(header-size(portrait) / 3) / 2) rotate(-45deg); }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: header-size(portrait);
    height: calc(100vh - #{header-size(portrait)});
    opacity: 0;

    background: minifast-color("red", "500");
    transform: rotatey(90deg);
    transform-origin: 0 0;
    transition: transform 0.125s ease-out, opacity 0.125s ease-in;

    @include in-landscape() {
      top: header-size(landscape);
      height: calc(100vh - #{header-size(landscape)});
    }

    @include at-size(small) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      left: initial;
      right: initial;
      bottom: initial;
      top: initial;
      height: auto;
      background: initial;
      flex: 1;
      text-align: right;
      transition: transform 0s, opacity 0s;
      opacity: unset;
      transform: unset;
      margin: 0 minifast-space(-2);
    }
  }

  &__navigation-toggle-input:checked + &__navigation-toggle + &__navigation {
    transition: transform 0.125s ease-in-out;
    transform-origin: 100% 0;
    transform: rotatey(0deg);
    opacity: 1;
  }
}

body {
  .minifast-header {
    &__container {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 100;
      display: flex;

      @include at-size(small) {
        top: minifast-space(0);
      }

      @include at-size(medium) {
        top: minifast-space(1);
      }
    }
  }
}
