@keyframes horizontal-mobile {
  0% { transform: perspective(#{screen-width(large)}) rotate3d(0, 1, 0, 0deg); }
  33% { transform: perspective(#{screen-width(large)}) rotate3d(0, 1, 0, 345deg); }
  100% { transform: perspective(#{screen-width(large)}) rotate3d(0, 1, 0, 0deg); }
}

@keyframes vertical-mobile {
  0% { transform: rotate(-90deg) perspective(#{screen-width(large)}) rotate3d(0, 1, 0, 180deg); }
  33% { transform: rotate(-90deg) perspective(#{screen-width(large)}) rotate3d(0, 1, 0, 525deg); }
  100% { transform: rotate(-90deg) perspective(#{screen-width(large)}) rotate3d(0, 1, 0, 180deg); }
}

.minifast-hero {
  &__slide {
    position: relative;
    min-height: screen-width(xsmall);

    @include at-size(small) {
      width: 100vw;
      height: screen-width(small) / 3 * 2;
    }

    @include at-size(medium) {
      height: minifast-space(1) + screen-width(small);
    }

    @include at-size(large) {
      height: minifast-space(4) + screen-width(small);
    }
  }

  &__diagram {
    transform: rotate(-90deg) rotate3d(0, 1, 0, 180deg);
    position: absolute;
    left: -1 * minifast-space(0);
    height: calc(100vh / 3 * 2);
    max-width: calc(100vw - #{minifast-space(0)});
    animation: vertical-mobile 30s infinite ease-in-out;

    @include in-landscape() {
      display: none;
    }

    @include at-size(small) {
      display: initial;
      animation: horizontal-mobile 30s infinite ease-in-out;
      top: 0;
      left: unset;
      width: screen-width(small) / 3 * 2;
      height: unset;
      max-width: unset;
    }

    @include at-size(medium) {
      width: screen-width(medium) / 3 * 2;
    }

    polygon { fill: minifast-color("black", "1000"); }

    &--cream {
      path { fill: minifast-color("red", "400"); }
      bottom: calc(100vh / 3 * 2 / -2);

      @include at-size(small) {
        bottom: unset;
        right: screen-width(small) / 3 * 2 / -2;
      }
      @include at-size(medium) {
        right: screen-width(medium) / 3 * 2 / -2;
      }
    }

    &--red {
      path { fill: minifast-color("cream", "500"); }
      top: calc(100vh / 3 * 2 / -2);

      @include at-size(small) {
        top: unset;
        left: screen-width(small) / 3 * 2 / -2;
      }
      @include at-size(medium) {
        left: screen-width(medium) / 3 * 2 / -2;
      }
    }
  }

  &__section {
    position: relative;
    height: 50vh;
    overflow: hidden;
    min-height: screen-width(xsmall) / 2;

    &--cream { background: minifast-color("cream", "500"); }
    &--red { background: minifast-color("red", "400"); }

    @include at-size(small) {
      position: absolute;
      top: 0;
      bottom: 0;
      height: auto;

      &--left {
        left: 0;
        right: 50%;
      }

      &--right {
        left: 50%;
        right: 0;
      }
    }
  }

  &__container {
    width: 100% / 3 * 2;
    position: absolute;
    padding: minifast-space(0);

    &--left {
      top: header-size(portrait);
      left: 0;
    }

    &--right {
      bottom: 0;
      right: 0;
    }

    @include in-landscape() {
      &--left {
        top: header-size(landscape);
      }
    }

    @include at-size(small) {
      width: screen-width(small) / 2;
      padding: minifast-space(0) 0;

      &--left {
        top: header-size(full) + minifast-space(3);
        right: 0;
        left: auto;
      }

      &--right {
        left: 0;
        right: auto;
      }
    }

    @include at-size(medium) {
      width: screen-width(medium) / 2;
    }

    @include at-size(large) {
      width: screen-width(large) / 2;
    }
  }

  &__title {
    @include minifast-text("display2");
    margin: 0;

    @include at-size(medium) {
      @include minifast-text("display1");
    }

    &--left {
      span { color: minifast-color("red", "400"); }

      @include at-size(small) {
        padding-right: screen-width(small) / 6;
        padding-left: minifast-space(-1);
      }

      @include at-size(medium) {
        padding-right: screen-width(medium) / 6;
        padding-left: minifast-space(0);
      }

      @include at-size(large) {
        padding-right: screen-width(large) / 6;
        margin-top: minifast-space(1);
      }
    }

    &--right {
      text-align: right;
      span { color: minifast-color("cream", "500"); }

      @include at-size(small) {
        padding-left: screen-width(small) / 6;
        padding-right: minifast-space(-1);
      }

      @include at-size(medium) {
        padding-left: screen-width(medium) / 8;
        padding-right: minifast-space(0);
      }

      @include at-size(large) {
        padding-left: screen-width(large) / 5;
        margin-bottom: minifast-space(2);
      }
    }
  }
}
