.minifast-map {
  background-color: minifast-color("gold", "500");

  @include at-size(small) {
    padding-top: minifast-space(1);
    padding-bottom: minifast-space(-1);
  }

  &__content {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include at-size(small) {
      overflow: hidden;
      width: screen-width(small);
    }
  }

  &__map {
    margin: 0 auto;
    display: block;
    height: 500px;

    @include at-size(small) {
      width: screen-width(small);
      height: auto;
    }
  }

  &__container {
    position: absolute;
    top: minifast-space(0);
    left: minifast-space(0);
    right: minifast-space(0);
    padding: minifast-space(0);
    background: rgba(minifast-color("white", "0"), 0.9);
    max-width: screen-width(xsmall) - minifast-space(0) * 2;
  }

  &__title {
    @include minifast-text("title");
    margin: 0;
  }

  &__text {
    margin: 0;
  }

  &__contacts {
    margin: minifast-space(-1) 0 0 0;
    padding: 0;
    list-style: none;
  }

  &__method {
    @include minifast-text("contact-method");
    & + & { margin-top: minifast-space(-3); }
  }

  &__abbreviation {
    display: inline-block;
    width: minifast-space(-1);
    color: minifast-color("red", "500");
    font-weight: 600;
  }

  &__link {
    color: minifast-color("black", "1000");
    text-decoration: none;
  }
}
