.minifast-office {
  &__slide {
    position: relative;
    height: minifast-space(5);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-size: cover;
    background-position: 50% 50%;

    @include at-size(small) {
      height: 100vh;
      min-height: screen-width(xsmall);
      max-height: screen-width(small);
    }
  }
}
