.minifast-playbooks {
  &__description {
    @extend %oceana-container;
    @extend %oceana-container--description;

    margin-top: header-size(portrait);
    padding-top:  minifast-space(2);

    @include in-landscape() {
      margin-top: header-size(landscape);
    }

    @include at-size(small) {
      margin-top: minifast-space(4);
    }
  }

  &__content {
    @extend %oceana-container;

    @include at-size(small) {
      &--goals, &--inception, &--scoping {
        display: flex;
        align-items: stretch;
      }

      &--goals, &--inception {
        flex-direction: row;
      }

      &--scoping {
        flex-direction: row-reverse;
        text-align: right;
      }
    }
  }

  &__title { @extend %oceana-title; }
  &__subtitle { @extend %oceana-subtitle; }

  &__container {
    position: relative;
    margin-left: minifast-space(-1) + minifast-space(-1) + minifast-space(-4);
    margin-right: minifast-space(-1);

    &--goals {
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -1 * (minifast-space(-1) + minifast-space(-1) + minifast-space(-4));
        right: -1 * minifast-space(-1);
        background: minifast-color("gold", "700");
        height: minifast-space(3);
        z-index: -1;
      }

      @include at-size(small) {
        &:after { display: none; }
      }
    }

    &--inception {
      &:after {
        content: '';
        position: absolute;
        bottom: minifast-space(2);
        left: -1 * (minifast-space(-1) + minifast-space(-1) + minifast-space(-4));
        right: -1 * minifast-space(-1);
        background: minifast-color("cream", "500");
        height: minifast-space(4);
        z-index: -1;
      }

      @include at-size(small) {
        &:after { display: none; }
      }
    }

    @include at-size(small) {
      margin: 0;
      flex: 1;
      padding-bottom: minifast-space(2);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1 * minifast-space(-1);
      border-left: minifast-space(-4) dotted minifast-color("red", "500");
    }
  }

  &__content--goals &__container--image {
    &:before {
      border-left-color: transparent;
    }
  }

  @include at-size(small) {
    &__content--goals &__container--image,
    &__content--scoping &__container--text,
    &__content--inception &__container--image {
      margin-right: minifast-space(0);
      &:before {
        border-left-color: transparent;
      }
    }
  }

  &__content--goals &__container--text {
    margin-top: -1 * minifast-space(3);
    padding-top: minifast-space(3);

    @include at-size(small) {
      padding-top: 0;
      margin-top: 0;
    }
  }

  &__content--scoping &__heading,
  &__content--scoping &__text {
    @include at-size(medium) {
      margin-left: auto;
    }
  }

  &__content--inception &__container--text {
    margin-top: -1 * (minifast-space(2) + minifast-space(4));
    padding-top: minifast-space(2) + minifast-space(4);

    &:before {
      border-left-style: solid;
    }

    @include at-size(small) {
      padding-top: 0;
      margin-top: 0;
    }
  }

  &__image {
    display: block;
    width: 100vw;
    margin-left: -1 * (minifast-space(-1) + minifast-space(-1) + minifast-space(-4));
    z-index: -1;

    @include at-size(small) {
      width: screen-width(small) / 2 - minifast-space(0);
      z-index: unset;
      margin: 0 auto;
    }

    @include at-size(medium) {
      width: screen-width(medium) / 3 - minifast-space(0);
    }

    @include at-size(large) {
      width: screen-width(large) / 3 - minifast-space(0);
    }

    &--goals, &--inception {
      rect { display: none; }

      @include at-size(small) {
        margin-right: 0;
        margin-left: auto;
        display: block;
        rect { display: unset; }
      }
    }

    &--scoping {
      @include at-size(small) {
        margin-left: 0;
        margin-right: auto;
        display: block;
      }
    }
  }

  &__heading {
    @include minifast-text("title");
    margin: 0;
    padding: minifast-space(1) 0 minifast-space(-1) 0;
    @include at-size(small) {
      padding: 0 0 minifast-space(-1) 0;
    }
    @include at-size(medium) {
      width: screen-width(medium) / 3;
    }
    @include at-size(large) {
      width: screen-width(large) / 3;
    }
  }

  &__text {
    margin: 0;
    padding-bottom: minifast-space(2);
    @include at-size(small) {
      padding: 0;
    }
    @include at-size(medium) {
      width: screen-width(medium) / 3;
    }
    @include at-size(large) {
      width: screen-width(large) / 3;
    }
  }

  &__arrow {
    @extend %oceana-container;
    @extend %oceana-container--adjacent;
  }

  &__icon {
    display: block;
    margin: 0 auto;
    width: minifast-space(0);
    polyline { fill: none; }
    path, polyline {
      stroke: minifast-color("red", "500");
      stroke-width: 3;
    }
  }
}
