.minifast-portfolio {
  &__content {
    @extend %oceana-container;
    margin-top: minifast-space(2);

    @include at-size(small) {
      &--clients {
        display: flex;
      }
    }
  }

  &__title {
    @extend %oceana-title;
    @extend %oceana-title--dotted;
    text-align: center;
    &:before { @extend %oceana-title-dot; }
  }

  &__subtitle {
    @extend %oceana-subtitle;
    text-align: center;
  }

  &__client {
    width: 100%;

    @include at-size(xsmall) {
      width: screen-width(xsmall);
      margin: 0 auto;
    }

    @include at-size(small) {
      flex: 0 0 (screen-width(small) / 2) - (minifast-space(0) / 2 * 3);
      width: auto;
      margin: 0 minifast-space(0);

      &:last-of-type { display: none; }
      & + & { margin-left: 0; }
    }

    @include at-size(medium) {
      flex: 0 0 (screen-width(medium) / 3) - (minifast-space(0) / 3 * 4);
      &:last-of-type { display: block; }
    }

    @include at-size(large) {
      flex: 0 0 (screen-width(large) / 3) - (minifast-space(0) / 3 * 4);
    }
  }

  &__image {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  &__description {
    margin: minifast-space(1) minifast-space(-2);

    @include at-size(xsmall) {
      margin: minifast-space(0) 0 minifast-space(2) 0;
    }

    @include at-size(medium) {
      margin: minifast-space(1) 0;
    }
  }

  &__text {
    &--name {
      @include minifast-text("display3");
      margin: 0 0 minifast-space(-1) 0;
    }
  }
}
