.minifast-portfolio {
  &__description {
    @extend %oceana-container;
    @extend %oceana-container--description;
  }

  &__title {
    @extend %oceana-title;
    @extend %oceana-title--decorated;
    &:before { @extend %oceana-title-dot; }
  }

  &__subtitle { @extend %oceana-subtitle; }

  &__clients {
    @extend %oceana-container;
    @include at-size(small) {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
    }
  }

  &__client {
    @include at-size(xsmall) {
      width: screen-width(xsmall);
      margin: 0 auto;
    }

    @include at-size(small) {
      flex: 0 0 (screen-width(small) / 2) - minifast-space(-1) * 2;
      margin: 0 minifast-space(-1);
      & + & + & { display: none; }
    }

    @include at-size(medium) {
      flex: 0 0 (screen-width(medium) / 3) - minifast-space(0) * 2;
      margin: 0 minifast-space(0);
      & + & + & { display: block; }
    }

    @include at-size(large) {
      flex: 0 0 (screen-width(large) / 3) - minifast-space(0) * 2;
    }
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__overview {
    margin: minifast-space(-1) minifast-space(-1) minifast-space(1) minifast-space(-1);
    @include at-size(small) {
      margin: minifast-space(-1) 0 minifast-space(1) 0;
    }
  }

  &__name {
    @include minifast-text("display3");
    margin: 0;
  }

  &__summary {
    margin: minifast-space(-2) 0 0 0;
  }

  &__navigation {
    @extend %oceana-container;
    @extend %oceana-container--final;
    text-align: center;
  }

  &__link {
    @include minifast-text("subtitle");
    color: minifast-color("red", "500");
    text-decoration: none;

    &::after {
      content: '→';
      margin-left: minifast-space(-2);
    }
  }
}
