.minifast-team {
  &__description {
    @extend %oceana-container;
    text-align: center;
    padding-top: header-size(portrait) + minifast-space(0);
    height: calc(100vw - #{header-size(portrait) + minifast-space(0)});

    @include in-landscape() {
      height: calc(100vw - #{header-size(landscape) + minifast-space(0)});
      padding-top: header-size(landscape) + minifast-space(0);
    }

    @include at-size(small) {
      height: screen-width(small) / 3 * 2;
      padding-top: 0;
    }

    @include at-size(medium) {
      height: (screen-width(medium) / 3 * 2) - (screen-width(medium) / 5);
      padding-top: 0;
    }

    @include at-size(large) {
      height: (screen-width(large) / 3 * 2) - (screen-width(large) / 5) - minifast-space(3);
      padding-top: minifast-space(3);
    }
  }

  &__members {
    @extend %oceana-container;
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    @extend %oceana-title;
    margin-top: 0;

    @include at-size(small) {
      padding-top: screen-width(small) / 3 - minifast-space(2);
    }
  }

  &__subtitle { @extend %oceana-subtitle; }

  &__container {
    flex: 0 0 50vw;
    height: 100vw;
    width: 50vw;
    position: relative;
    margin-top: -1 * minifast-space(-8) * 2;

    @include at-size(small) {
      flex: 0 0 screen-width(small) / 3;
      height: screen-width(small) / 3 * 2;
    }

    @include at-size(medium) {
      flex: 0 0 screen-width(medium) / 3;
      height: screen-width(medium) / 3 * 2;
    }

    @include at-size(large) {
      flex: 0 0 screen-width(large) / 3;
      height: screen-width(large) / 3 * 2;
    }
  }

  &__member {
    display: block;
    flex: 0 0 50%;
    height: calc(50vw - #{floor(minifast-space(-1)) * 2});
    margin: floor(minifast-space(-1)) 0;
    position: relative;

    @include at-size(small) {
      flex: 0 0 screen-width(small) / 3;
      height: screen-width(small) / 3 - floor(minifast-space(-1)) * 2;

      &:nth-of-type(4n+3) { margin-left: screen-width(small) / 3; }
    }

    @include at-size(medium) {
      flex: 0 0 screen-width(medium) / 3;
      height: screen-width(medium) / 3 - floor(minifast-space(-1)) * 2;

      &:nth-of-type(4n+3) { margin-left: screen-width(medium) / 3; }
    }

    @include at-size(large) {
      flex: 0 0 screen-width(large) / 3;
      height: screen-width(large) / 3 - floor(minifast-space(-1)) * 2;

      &:nth-of-type(4n+3) { margin-left: screen-width(large) / 3; }
    }
  }

  &__tile {
    position: absolute;
    top: 0;
    bottom: 0;
    left: floor(minifast-space(-1));
    right: floor(minifast-space(-1));
    display: block;
    margin: 0;
    overflow: hidden;
  }

  &__image {
    height: 50vw;
    position: absolute;
    top: 0;
    &--left { left: 0; }
    &--right { right: 0; }
    &--center { right: -50%; }

    @include at-size(small) {
      height: screen-width(small) / 3;
    }

    @include at-size(medium) {
      height: screen-width(medium) / 3;
    }

    @include at-size(large) {
      height: screen-width(large) / 3;
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: minifast-space(-1) minifast-space(0);
    background: rgba(minifast-color("white", "0"), 0.8);
    opacity: 0;
    transition: opacity 0.125s ease-in-out;
  }

  &__member:hover &__caption {
    opacity: 1;
  }

  &__handle {
    @include minifast-text("display3");
    margin: 0;
    &--inline { display: inline; }
  }

  &__position {
    margin: 0;
    &--inline { display: inline; }
  }

  &__emeritus {
    @extend %oceana-container;
    @extend %oceana-container--adjacent;
    text-align: center;
    position: relative;
    margin: minifast-space(2) auto;

    @include at-size(small) {
      margin: minifast-space(3) auto;
    }
  }

  &__dedication {
    @extend %oceana-title;
    @extend %oceana-title--decorated;
    &::before { @extend %oceana-title-dash; }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: minifast-space(0) 0 0 0;
  }

  &__list-item { margin-top: minifast-space(-1); }
}

body.team {
  background:
    linear-gradient(0deg, rgba(minifast-color("red", "500"), 0.25) 1px, rgba(0, 0, 0, 0) 1px),
    linear-gradient(90deg, rgba(minifast-color("red", "500"), 0.25) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 50% 50vw, 50% 50vw;
  background-position: -0.25px 0;

  @include at-size(small) {
    background-size: screen-width(small) / 3 screen-width(small) / 3, screen-width(small) / 3 screen-width(small) / 3;
    background-position: 50% 0;
  }

  @include at-size(medium) {
    background-size: screen-width(medium) / 3 screen-width(medium) / 3, screen-width(medium) / 3 screen-width(medium) / 3;
    background-position: 50% -1 * (screen-width(medium) / 5);
  }

  @include at-size(large) {
    background-size: screen-width(large) / 3 screen-width(large) / 3, screen-width(large) / 3 screen-width(large) / 3;
    background-position: 50% -1 * (screen-width(large) / 5);
  }
}
