@import "compass/css3/images";

.home.index {
  padding: 0;

  header {
    @extend .branding-logo;
    margin: 6em 0;
  }

  section {
    @extend .branding-ingredient;
  }
}

@media (max-width: 767px) {
  .home.index {
    padding-bottom: 1em;

    .navbar-static-top {
      margin-right: 0;
      margin-left: 0;
    }

    header {
      margin: 2em 0;

      h1 {
        font-size: 2.5em;
      }
    }

    .mobile-anchor {
      padding: 0 1em;
    }

    section + section {
      margin-top: 1em;
    }
  }
}
