.home.index {
  padding: 0;

  .infinity-container {
    position: absolute;
    top: 50%;
    margin-top: -150px;
    width: 100%;
  }

  header {
    @extend .branding-logo;
    margin-bottom: 4em;
  }

  section {
    @extend .branding-ingredient;

    &.who {
      border-top-color: $cancunBeach;
    }

    &.what {
      border-top-color: $tierra;
    }

    &.why {
      border-top-color: $djRush;
    }
  }
}

@media (max-width: 767px) {
  .home.index {
    padding-bottom: 1em;

    .navbar-static-top {
      margin-right: 0;
      margin-left: 0;
    }

    .infinity-container {
      position: static;
      margin-top: 40px;
    }

    header {
      margin-top: 4em;
    }

    .mobile-anchor {
      padding: 0 1em;
    }

    section + section {
      margin-top: 1em;
    }
  }
}
