@import "bourbon";
@import "grid-settings";
@import "neat";

$mobile: new-breakpoint(max-width 500px 6);

body {
  background: #333;
  color: white;
}

.error {
  font-family: "Press Start 2P";
  margin-top: 75px;
  @include outer-container;
}

.error .code {
  position: absolute;
  position: relative;
  height: 2.2em;
  left: 50%;
  width: 250px;
  margin-left: -125px;
}

.error .code h1 {
  margin: 0;
  position: absolute;
  color: #333;
}

.error .message {
  @include span-columns(6);
  @include shift(3);

  @include media($mobile) {
    @include pad;
    @include span-columns(6);
    @include shift(0);
  }
}

@mixin pixelate($fill, $border, $width : 0.2rem) {
  color:       $fill;
  text-shadow: $border             0        $width 0,
               $border             0       -1 * $width 0,
               $border             $width   0      0,
               $border            -1 * $width   0      0,
               rgba(0, 0, 0, 0.3)  0         0     5px;
}

@include keyframes(colorCycle) {
  from {
    @include pixelate(rgb(160, 95, 180), rgb(112, 62, 129));
  }

  15% {
    @include pixelate(rgb(253, 137, 253), rgb(237, 93, 186));
  }

  30% {
    @include pixelate(rgb(254, 198, 46), rgb(226, 135, 33));
  }

  45% {
    @include pixelate(rgb(250, 253, 55), rgb(174, 178, 36));
  }

  60% {
    @include pixelate(rgb(41, 253, 47), rgb(26, 177, 29));
  }

  75% {
    @include pixelate(rgb(43, 254, 195), rgb(26, 175, 133));
  }

  90% {
    @include pixelate(rgb(36, 211, 253), rgb(22, 145, 180));
  }

  to {
    @include pixelate(rgb(160, 95, 180), rgb(112, 62, 129));
  }
}

.error .code h1 {
  @include animation-name(colorCycle);
  @include animation-duration(1s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);
}

.error .message h2 {
  line-height: 1.4em;
  @include pixelate(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.1));
}

@mixin pixelated-header($index, $offset) {
  -webkit-animation-delay: $index * -60ms;
  top:  $offset * (1rem / -4);
  left: $offset * (1rem / 3);
}

@for $i from 1 through 30 {
  h1:nth-of-type(#{$i}) {
    @include pixelated-header($i, 30 - $i);
  }
}
