%oceana-container {
  position: relative;

  @include at-size(small) {
    width: screen-width(small);
    margin: 0 auto;
  }

  @include at-size(medium) {
    width: screen-width(medium);
  }

  @include at-size(large) {
    width: screen-width(large);
  }
}

%oceana-container--description {
  margin-top: minifast-space(1);
  margin-bottom: minifast-space(2);
}

%oceana-container--adjacent {
  margin-bottom: minifast-space(2);
}

%oceana-container--final {
  margin-bottom: 0;
}
