$header-sizes: (
  "portrait": minifast-space(1) + minifast-space(-2),
  "landscape": minifast-space(1),
  "full": minifast-space(2)
);

@function header-size($size) {
  @if map-has-key($header-sizes, $size) == false {
    @warn "Header size `#{$size}` not found.";
    @return null;
  }

  @return map-get($header-sizes, $size);
}

%oceana-header {
  min-height: header-size(portrait);

  @include in-landscape() {
    min-height: header-size(landscape);
  }

  @include at-size(small) {
    min-height: header-size(full);
  }
}
