$-normalize-include: null;
$-normalize-exclude: null;
@import "normalize/import-now";

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  @include minifast-text("body");
}

html,
body,
button,
input,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
