%oceana-title {
  @include minifast-text("title");
  text-align: center;
  margin: 0 auto;

  @include at-size(xsmall) {
    width: screen-width(xsmall);
  }

  @include at-size(small) {
    width: screen-width(small);
  }

  @include at-size(medium) {
    width: screen-width(medium);
  }
}

%oceana-title--decorated {
  position: relative;
  padding-top: minifast-space(1);
}

%oceana-title--chevron {
  position: relative;
  padding-top: minifast-space(2);
}

%oceana-title-dot {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: minifast-space(-2);
  height: minifast-space(-2);
  margin-left: minifast-space(-2) / -2;
  background: minifast-color("red", "500");
}

%oceana-title-caret {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: minifast-space(-1);
  margin-left: minifast-space(-1) / -2;
  polygon { fill: minifast-color("red", "500"); }
}
