<section class='minifast-contact'>
  <section class='minifast-contact__content'>
    <h3 class='minifast-contact__title'><%= t(:title, scope: [:partials, :contact]) %></h3>
    <p class='minifast-contact__description'><%= t(:description, scope: [:partials, :contact]) %></p>
  </section>
</section>
