<section class='minifast-dialogue'>
  <section class='minifast-dialogue__content'>
    <h3 class='minifast-dialogue__title'><%= t(:title, scope: [:partials, :dialogue]) %></h3>
    <p class='minifast-dialogue__description'><%= t(:description, scope: [:partials, :dialogue]) %></p>
  </section>
</section>
