<section class='minifast-gallery'>
  <section class='minifast-gallery__content'>
    <% data.portfolio.gallery.each do |slide| %>
      <article class='minifast-gallery__slide' style='background-image: url("<%= asset_url(slide.image) %>")'>
        <h2 class='minifast-gallery__title'><%= slide.title %></h2>
        <h3 class='minifast-gallery__description'><%= slide.client %></h3>
      </article>
    <% end %>
  </section>
</section>
