<section class='minifast-mobile'>
  <article class='minifast-mobile__container minifast-mobile__container--initial'>
    <svg viewBox='0 0 100 100' class='minifast-mobile__circle minifast-mobile__circle--top minifast-mobile__circle--red'>
      <circle cx='50' cy='50' r='50' />
    </svg>
    <svg viewBox='0 0 100 100' class='minifast-mobile__circle minifast-mobile__circle--bottom minifast-mobile__circle--red'>
      <circle cx='50' cy='50' r='50' />
    </svg>
  </article>
  <article class='minifast-mobile__container minifast-mobile__container--rotate'>
    <svg viewBox='0 0 100 100' class='minifast-mobile__circle minifast-mobile__circle--top minifast-mobile__circle--cream'>
      <circle cx='50' cy='50' r='50' />
    </svg>
    <svg viewBox='0 0 100 100' class='minifast-mobile__circle minifast-mobile__circle--bottom minifast-mobile__circle--cream'>
      <circle cx='50' cy='50' r='50' />
    </svg>
  </article>
  <article class='minifast-mobile__rack'>
    <div class='minifast-mobile__bar minifast-mobile__bar--hanger'></div>
    <div class='minifast-mobile__bar minifast-mobile__bar--top'></div>
    <div class='minifast-mobile__bar minifast-mobile__bar--crossbar'></div>
    <div class='minifast-mobile__bar minifast-mobile__bar--bottom'></div>
  </article>
</section>
