<section class='minifast-office'>
  <section class='minifast-office__content'>
    <article class='minifast-office__slide' style='background-image: url("<%= asset_url('images/photoshoot/office.jpg') %>")'>
    </article>
  </section>
</section>
