<section class='minifast-portfolio'>
  <section class='minifast-portfolio__content'>
    <h3 class='minifast-portfolio__title'><%= t(:title, scope: [:partials, :portfolio]) %></h3>
    <p class='minifast-portfolio__description'><%= t(:description, scope: [:partials, :portfolio]) %></p>
  </section>
</section>
