<section class='minifast-process'>
  <section class='minifast-process__content'>
    <h3 class='minifast-process__title'><%= t(:title, scope: [:partials, :process]) %></h3>
    <p class='minifast-process__subtitle'><%= t(:description, scope: [:partials, :process]) %></p>
  </section>
</section>
