<section class="branding-ingredient">
  <h3>Why I am afraid of dogs</h3>
  <article>
    <p><%= t(:dog_story).sample %></p>
    <p><%= t(:dog_story).sample[0...200] %>&hellip;</p>
  </article>
</section>
