<div class="container">
  <h1>
    <div>The</div>
    Ministry
    <div>of</div>
    Velocity
  </h1>

  <h2>Tracker is peace</h2>
  <h2>Waterfall is slavery</h2>
  <h2>Retrospectives are strength</h2>

  <h3><a href="mailto:contact@ministryofvelocity.com">Contact is email</a></h3>
</div>
