<header>
  <h1>
    <strong>M</strong>inistry
    <span><small>of</small></span>
    <strong>V</strong>elocity
  </h1>
</header>

<div class="container">
  <div class="row ingredients">
    <div class="offset3 span6">
    <% t(:rationale, scope: :home).each do |section_id, section| %>
    <section class="row <%= section_id %>">
      <h3><%= section[:title] %></h3>
      <article>
        <p><%= section[:text] %></p>
      </article>
    </section>
    <% end %>
  </div>
</div>
