$hotPink: #f1c;
$hotBlue: #1cf;
$hotGreen: #ccf811;

$brandingLogoStripeColor: black !default;

$navbarInverseBrandColor: $hotBlue;
$navbarBackgroundHighlight: rgba(0, 0, 0, 0);
$navbarInverseLinkColorHover: $hotPink;
