$hotPink: #f1c;
$hotBlue: #1cf;
$hotGreen: #ccf811;

// http://www.colourlovers.com/business/trends/branding/7887/Jimmys_Iced_Coffee
$cancunBeach: #55c3dc;
$djRush: #e24b2c;
$tierra: #8c6429;
$greyFlannel: #73726d;
$out: #e7f3ef;
