.branding-ingredient {
  padding: 0.5em 1em 0 1em;

  h3 {
    text-transform: uppercase;
    line-height: 1em;

    &:first-letter {
      font-size: 1.3em;
    }
  }

  article {
    padding-bottom: 0.25em;
    font-family: $serifFontFamily;
  }
}
