$brandingLogoStripeColor: black !default;

.branding-logo {
  text-transform: uppercase;
  text-align: center;
  @include user-select(none);
  cursor: default;

  strong {
    font-size: 1.4em;
    font-weight: $headingsFontWeight;
  }

  span {
    display: block;
    position: relative;
    line-height: 1em;
    margin: 0.5em 0;

    border-top: 0.075em solid $brandingLogoStripeColor;

    small {
      display: block;
      position: absolute;
      top: -0.5em;
      left: 50%;
      margin-left: -1em;
      padding: 0 0.5em;

      color: $textColor;
      background: $bodyBackground;
      font-weight: $headingsFontWeight;
      font-size: 0.85em;
    }
  }
}
