@import "minifast";
@import "branding/logo";
@import "branding/ingredient";

.home.index {
  header {
    @extend .branding-logo;
  }

  td section {
    @extend .branding-ingredient;

    &.who {
      border-top-color: #1cf;
    }

    &.what {
      border-top-color: #f1c;
    }

    &.why {
      border-top-color: #ccf811;
    }
  }

  table {
    width: 940px;
    margin: 0 auto;
    margin-top: 5em;
    border-collapse: collapse;
  }


  td {
    width: 33.33333333%;
    vertical-align: top;
    padding: 0;
  }

  td + td {
    padding-left: 20px;
  }

  .container {
    position: absolute;
    top: 50%;
    margin-top: -150px;
    width: 100%;
  }
}
