@import "branding/colors";
@import "fonts/bootstrap-overrides";
@import "bootstrap";
@import "bootstrap/responsive";
@import "compass/css3/user-interface";

.navbar {
  font-family: "minifast-font", sans-serif;
  font-weight: 400;
  font-variant: small-caps;
  @include user-select(none);
}
