body.team {
  .person {
    font-weight: 100;
    font-family: $heading-font-family;
  }

  .person + .person {
    border-top: 1px solid lighten(#000, 70%);
  }

  article {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .name {
    text-transform: uppercase;
  }

  .title {
    font-weight: 100;
  }

  h1 {
    font-size: 1.15rem;
    margin: 1.5rem 1rem 0 1rem;
  }

  h2 {
    margin: 0.5rem 1rem;
    line-height: 1;
    font-weight: 100;
    font-size: 0.9rem;
    color: $minifastRed;
  }

  p {
    font-size: 0.85rem;
    margin: 1rem 1rem 0 1rem;
  }

  main a {
    color: $dark-gray;
    margin: 0 0 0 0.75rem;
  }

  h2 span + span {
    &::before {
      content: '|';
      color: $dark-gray;
      padding-right: 1rem;
      margin-left: 0.75rem;
      font-weight: 300;
    }
  }

  .person img { width: 100%; }

  @include media($medium-screen) {
    section {
      display: flex;
      min-height: 20rem;
    }

    section.even {
      flex-direction: row;
    }

    section.odd {
      flex-direction: row-reverse;
    }

    section header {
      flex: 1;
    }

    section article {
      flex: 0 0 60%;
    }

    .person header {
      overflow-x: hidden;
      position: relative;
    }

    .person img {
      position: absolute;
      height: 100%;
      width: auto;
      max-width: none;
    }

    section.even img {
      right: 0;
    }

    section {
      h1, h2, p {
        max-width: 500px;
      }
    }
    section.odd {
      h1, h2, p {
        margin-left: auto;
      }

      img {
        left: 0;
      }

      article {
        text-align: right;
      }
    }
  }

  @include media($large-screen * 1.5) {
    section {
      width: $large-screen * 1.5;
      margin: 0 auto;
    }
  }
}
