<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-push-3 mission">
      <h2>We are an agile software development agency.</h2>
      <h2>We are committed to growing both your business and your team.</h2>
    </div>

    <div class="col-xs-12 col-sm-3 col-sm-pull-6 tenets first-tenets">
      <h4>1. Small Steps, Big Leaps</h4>
      <p>
        We believe revolutionary products are built iteratively. We employ user testing, rapid prototyping and continuous delivery to get features in front of users as fast as possible.
      </p>

      <h4>2. Graceful, Not Flashy</h4>
      <p>
        We have great user experiences every day, from sets of keys to water faucets. We bring the power of storytelling to all levels of design, from the user interface to the API.
      </p>
    </div>

    <div class="clearfix visible-xs-block"></div>

    <div class="col-sm-3 tenets last-tenets">
      <h4>3. Power to the People</h4>
      <p>
        We have found that respectfully integrating with teams is highly effective. We pair up with your developers to make sure that everyone's on board with changes.
      </p>

      <h4>4. Your Time is Valuable</h4>
      <p>
        We want every engagement to end with our teams parting ways happily. We make sure that code is tested, procedures are documented, deployments are automated.
      </p>
    </div>
  </div>
</div>
