<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-push-3 mission">
      <h2>Confident Software Delivered Faster</h2>
    </div>

    <div class="col-xs-12 col-sm-3 col-sm-pull-6 tenets first-tenets">
      <h4>1. Focus</h4>
      <p>
        <span>
          Your business vision is most effective when backed by focused, high quality execution.
        </span>
        <span>
          We help refine your business vision and get your product into your users' hands.
        </span>
        <span>
          To deliver that product faster, we use pair programming to focus our software development activities.
        </span>
        <span>
          As your vision changes, our practices ensure that both velocity and quality stay high.
        </span>
      </p>

      <h4>2. Insight</h4>
      <p>
        <span>
          Your success depends on your insight into both your users and your product.
        </span>
        <span>
          We help you gain insight into your team's practices, your product's performance, and your users' behavior.
        </span>
        <span>
          We expose opportunities for improvement by monitoring your KPIs and measuring team productivity.
        </span>
        <span>
          As your team changes, we help you stay confident with insight backed by real data.
        </span>
      </p>
    </div>

    <div class="clearfix visible-xs-block"></div>

    <div class="col-sm-3 tenets last-tenets">
      <h4>3. Adaptability</h4>
      <p>
        <span>
          With a keen eye and an open mind, you have the ability to detect and change with the market.
        </span>
        <span>
          We keep your team adaptible to your users' needs by encouraging collaboration and openness.
        </span>
        <span>
          As we identify knowledge siloes and heavy-weight process, we also increase accountability.
        </span>
        <span>
          As your company and product changes, we keep your team strong by modeling openness and adaptability.
        </span>
      </p>

      <h4>4. Reliability</h4>
      <p>
        <span>
          Your business reputation depends on being able to reliably deliver results.
        </span>
        <span>
          We use a combination of testing, automation, and monitoring in the normal process of building products.
        </span>
        <span>
          As we test and automate your product, not only does it become more secure, it becomes reliable.
        </span>
        <span>
          As your users rely more and more on your business, we make sure they feel confident.
        </span>
      </p>
    </div>
  </div>
</div>
