---
layout: error
---

<section class="error">
  <article class="code">
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
    <h1>404</h1>
  </article>

  <article class="message">
    <h2>We looked everywhere.</h2>
    <h2>Even the 80s.</h2>
    <h2><a href="/">Back to Reality</a></h2>
  </article>
</section>
