<!-- https://www.fanfiction.net/s/2945837/1/Halflife_Fulllife_Consequences -->
<h1>Pavatal labs: life consquences</h1>

<p>
Minsty of valosty who was Pavatal labss daughter was one day in an office typing on a computer.  She got an email from Pavatal that said that waterfall and bduf were attacking the computer industry and aksed her for help so she went.
</p>

<p>
Minsitry of valosety got her commmputer shut down and went on a elevater to go up to the roof of the buliding where she left her motorsycle and normal people close because she was in a jumpsuit. Minstry of bValasity got onh er motorrycle and said "ita time for me to live up to my family heratage and face full life consequences" so she had to go.
</p>

<p>
Meistry of velosty ramped off the buildng and did a backflip and landed.  She kept driving down the road and made sure there was no brogrammars beacus she ddint have kerasene or a mach.
</p>

<p>
The contrysides were nice and the plants were singing and the bird snad the sun was almonst down from the top of the sky. the mood was set for Mansitry of velastys quest to help Pavatal were it was. Mistry a velesty looked around the countrysides and said "its a good day to do what has to be done by me and help Pavatal to defeat are enemys".
</p>

<p>
Misstry ofvvalasiety was late so she had to drive really fast.  A cop car was hiden near by so when Minsitry ofvlasity went by the cops came and wanted to give her a ticket. Hear Msiaisty Of valasyt saw the firs tproblem because the cop was posessed and using scrum.
</p>

<p>
"I cant give you my lisense offiser" mainstry of velasty said
</p>

<p>
"Why not?" said the scrum ofiser back to mianstry of veleasity
</p>

<p>
"Because you are using scrum" so mainstrys of velosity deleted jira on the scrum officers computer and drove off thinking "pivaltal is in trouble there" and went faster.
</p>
