<header>
  <h1 class="logo">Ministry of Velocity</h1>
  <h3><a href="https://twitter.com/minifast">@minifast</a></h3>
  <h4><a href="mailto:contact@ministryofvelocity.com">contact@ministryofvelocity.com</a></h4>
</header>

<section class="what fall">
  <article>
    <h1>Big Applications are Difficult</h1>
    <p>
      Finishing new features is a longer process than was a year ago.  Tests take a long time to run.  Data is missing.  Deployment is stressful.  The frontend needs to be rewritten.  Things are slow.
    </p>
    <p>
      Every application goes through twists and turns in development, inevitably when responding to customer needs.  Sometimes, on the road to shipping a product, development slips into the fog.
    </p>
  </article>
</section>

<section class="how winter">
  <article>
    <h1>Find the Road Back to Fast</h1>
    <p>
      We're experts at leveling up your whole team.  Until the release of our next book, co-written with Sandi Metz, working with us is as close to the source as you can get.
    </p>
    <p>
      We partner with you, on-site and side-by-side.  We've worked with bootstrapped companies, remote teams, startups, and subsidiaries.  We work on one project at a time.
    </p>
  </article>
</section>

<section class="why spring">
  <article>
    <h1>Make the Good Parts Better</h1>
    <p>
      When we leave, your code and engineering process will feel faster than ever. We ship code fast, but we also make sure that everyone knows how to keep it coming.
    </p>
    <p>
      We help grow your revenue stream by getting the right features to users faster.  We make sure good communication happens across design, business, and product teams.
    </p>
  </article>
</section>

<section class="who summer">
  <article>
    <h1>Work With the Best</h1>
    <p>
      Sarah Mei makes writing great code look easy.  She draws on two decades of doing exciting projects in academia, science, and companies both big and small.  Sarah is Ministry of Velocity's head of propaganda.
    </p>
    <p>
      Doc Ritezel has been programming, like, forever. After stints at large companies, small companies, consulting companies and film studios, he now runs operations for Ministry of Velocity.
    </p>
  </article>
</section>

<footer>
  <h1>Pairing Solves Everything.</h1>
  <h2>San Francisco, California</h2>
  <h3>Copyright 2014</h3>
  <h5>
    Photo Attributions &mdash;
    <a href="http://www.flickr.com/photos/lukechanchan/7452707046/">1</a> &middot;
    <a href="http://www.flickr.com/photos/pkmousie/6658172629/">2</a> &middot;
    <a href="http://www.flickr.com/photos/tomo908us/4297815852/">3</a> &middot;
    <a href="http://www.flickr.com/photos/hansel5569/9110696164/">4</a>
  </h5>
</section>

<script>
$(function(){
  $.stellar({
    horizontalScrolling: false,
    verticalOffset: 40
  });
});
</script>
