<header>
  <h1 class="logo">Ministry of Velocity</h1>
</header>

<section class="who">
  <article>
    <h1>Who is Ministry of Velocity?</h1>
    <p>
      Sarah Mei is the Head of Propaganda.  In four short years, Sarah reshaped the San Francisco Ruby community.  Now she helps big teams get better at including new engineers.
    </p>
    <p>
      Doc Ritezel is the Head of Operations.  After starting both a graphic design company and a Wordpress integrator, Doc brings a customer-oriented view to growing engineering teams.
    </p>
  </article>
</section>

<section class="what">
  <article>
    <h1>What does Ministry of Velocity do?</h1>
    <p>
      We focus on improving communication. In a traditional workplace setting, engineers spend well over half their waking lives writing code.
    </p>
    <p>
      We emphasize discipline. If you've never seen a great team in action, it's hard to instinctively know what's important when building one.
    </p>
  </article>
</section>

<section class="why">
  <article>
    <h1>Why does communication matter?</h1>
    <p>
      Code looks like the communication of the team that produced it, to paraphrase an industry maxim known as Conway's Law. Code improves alongside the responsible team's ability to communicate.
    </p>
    <p>
      Healthy teams produce healthy code. Software dispatches fire fighters, puts money into bank accounts and prints report cards. Healthy code keeps our communities alive.
    </p>
  </article>
</section>

<section class="how">
  <article>
    <h1>How will my company change?</h1>
    <p>
      Your team will learn to effectively build software by example.  Different parts of your software can always get better at communicating internally, and we have decades of experience in improving code.
    </p>
    <p>
      Technical and team decision making will improve. We apply and teach standard lessons acquired from academia, government and psychology to improve the quality and speed of analysis.
    </p>
  </article>
</section>

<section class="agile">
  <article>
    <h1>What are agile and extreme programming?</h1>
    <p>
      Most businesses can benefit from iteratively discovering and responding to your users' actual needs.  This business goal is called agile.
    </p>
    <p>
      The practices we apply to achieve that, like test-driven development and pair programming, are collectively called extreme programming, or XP.
    </p>
  </article>
</section>

<footer>
  <h1>Pairing Solves Everything.</h1>
  <h2>San Francisco, California</h2>
  <h3>Copyright 2014</h3>
</section>

<script>
$(function(){
  $.stellar({
    horizontalScrolling: false,
    verticalOffset: 40
  });
});
</script>
