<header>
  <h1 class="logo">Ministry of Velocity</h1>
  <h3><a href="https://twitter.com/minifast">@minifast</a></h3>
  <h4><a href="mailto:contact@ministryofvelocity.com">contact@ministryofvelocity.com</a></h4>
</header>

<section class="which squished">
  <article>
    <p class="npm">
      <img src="/images/logos/npm.png" />

      We used <span class="minifast">Ministry of Velocity</span>'s expertise to level up our team, our infrastructure and our security.

      <span class="cite">Greg Woodward, CTO, NASDAQ Private Market</span>
    </p>

    <p class="wanelo">
      <img src="/images/logos/wanelo.png" />

      <span class="minifast">Ministry of Velocity</span> helped us recruit, hire and train the best of the best.

      <span class="cite">Konstantin Gredeskoul, CTO, Wanelo</span>
    </p>

    <p class="eyefaster">
      <img src="/images/logos/eyefaster.png" />

      <span class="minifast">Ministry of Velocity</span> supported us through the entire prototyping process.

      <span class="cite">Kirk Hendrickson, CEO, EyeFaster</span>
    </p>

    <p class="timeline">
      <img src="/images/logos/timeline.png" />

      We like to think that <span class="minifast">Ministry of Velocity</span> is our secret weapon.

      <span class="cite">Kevin Fitzpatrick, Timeline Labs</span>
    </p>
  </article>
</section>

<section class="who season summer">
  <article>
    <h1>Work With the Best</h1>
    <p>
      Sarah Mei makes writing great code look easy.  She draws on two decades of exciting projects in academia, science, and companies both big and small.  She is head of propaganda.
    </p>
    <p>
      Doc Ritezel has been programming, like, forever. After stints at large companies, small companies, consulting companies and film studios, he now runs operations.
    </p>
  </article>
</section>

<section class="what season  fall">
  <article>
    <h1>Growth is Difficult</h1>
    <p>
      Success in business often means more code, but now new features takes longer.  Tests are slow to run.  The frontend needs to be rewritten.
    </p>
    <p>
      We know that not all applications follow the same rules.  We've been there.  We know what it takes to make your code manageable again.
    </p>
  </article>
</section>

<section class="how season winter">
  <article>
    <h1>Continuous Improvement</h1>
    <p>
      Developers have to learn in order to stay at the top of their game.  Team changes mean culture and productivity changes, too.  And change is hard.
    </p>
    <p>
      We're experts at leveling up your whole team, across the board.  We partner with you, on-site and side-by-side, with the latest techniques and technologies.
    </p>
  </article>
</section>

<section class="why season spring">
  <article>
    <h1>Turn Good into Great</h1>
    <p>
      The hardest part about being agile is knowing when to break the rules.  Your team is fast, but your process can always get faster and leaner.
    </p>
    <p>
      We help grow your revenue stream by getting the right features to users in less time.  We model great communication between design, business, and product teams.
    </p>
  </article>
</section>

<footer>
  <h1>Pairing Solves Everything.</h1>
  <h2>San Francisco, California</h2>
  <h3>Copyright 2014</h3>
  <h5>
    Photo Attributions &mdash;
    <a href="http://www.flickr.com/photos/lukechanchan/7452707046/">1</a> &middot;
    <a href="http://www.flickr.com/photos/pkmousie/6658172629/">2</a> &middot;
    <a href="http://www.flickr.com/photos/tomo908us/4297815852/">3</a> &middot;
    <a href="http://www.flickr.com/photos/hansel5569/9110696164/">4</a>
  </h5>
</section>
