<header>
  <h1 class="logo">Ministry of Velocity</h1>
  <h3><a href="https://twitter.com/minifast">@minifast</a></h3>
  <h4><a href="mailto:contact@ministryofvelocity.com">contact@ministryofvelocity.com</a></h4>
</header>

<section class="who">
  <article>
    <h1>Who is Ministry of Velocity?</h1>
    <p>
      Sarah Mei makes writing great code look easy.  She draws on two decades of doing exciting projects in academia, science, and companies both big and small.  Sarah is Ministry of Velocity's head of propaganda.
    </p>
    <p>
      Doc Ritezel has been programming, like, forever. After stints at large companies, small companies, consulting companies and film studios, he now runs operations for Ministry of Velocity.
    </p>
  </article>
</section>

<section class="what">
  <article>
    <h1>What does Ministry of Velocity do?</h1>
    <p>
      We focus on improving communication. Developers on modern teams spend well over half their waking hours designing or implementing software.
    </p>
    <p>
      We emphasize discipline. The most senior teams we've seen are exemplars of consistency, especially in the face of changing business needs.
    </p>
  </article>
</section>

<section class="why">
  <article>
    <h1>Why communication over technology?</h1>
    <p>
      Software structure reflects its producing team's communication structure. We believe that improving both is possible, but improving communication has a lasting impact on velocity.
    </p>
    <p>
      Software is critical to our modern world: it dispatches fire fighters, puts money into bank accounts and prints report cards. Enabling software to respond to real needs is our goal.
    </p>
  </article>
</section>

<section class="how">
  <article>
    <h1>What impact do you have on teams?</h1>
    <p>
      We partner with you. We apply standard practices acquired from academia, government and psychology to improve the quality and speed of analysis.
    </p>
    <p>
      We build great software by example. While all code can benefit from our time, your team already knows where we can do the most good.
    </p>
  </article>
</section>

<section class="agile">
  <article>
    <h1>What are agile and extreme programming?</h1>
    <p>
      Agile is shorthand for discovering your users' needs, working as a team, delivering software and learning from experience. In practice, agile means valuing people over process.
    </p>
    <p>
      Extreme programming is a state of iterative team improvement. We practice some of its components, like test-driven development, pair programming and continuous deployment.
    </p>
  </article>
</section>

<footer>
  <h1>Pairing Solves Everything.</h1>
  <h2>San Francisco, California</h2>
  <h3>Copyright 2014</h3>
  <h5>
    Photo Attributions &mdash;
    <a href="http://www.flickr.com/photos/lukechanchan/7452707046/">1</a> &middot;
    <a href="http://www.flickr.com/photos/cmckain/6788910241/">2</a> &middot;
    <a href="http://www.flickr.com/photos/pkmousie/6658172629/">3</a> &middot;
    <a href="http://www.flickr.com/photos/tomo908us/4297815852/">4</a> &middot;
    <a href="http://www.flickr.com/photos/hansel5569/9110696164/">5</a>
  </h5>
</section>

<script>
$(function(){
  $.stellar({
    horizontalScrolling: false,
    verticalOffset: 40
  });
});
</script>
