<div class="contact-info">
  <div class="row">
    <div class="email-link">
      <%= link_to "contact@ministryofvelocity.com", "mailto:contact@ministryofvelocity.com" %>
    </div>
    <div class="twitter-link">
      <%= link_to "@minifast", "https://twitter.com/minifast" %>
    </div>
  </div>

  <div class="contact-form">
    <h1>We'll be in touch soon!</h1>
  </form>
</div>
