<h2>
  <%= link_to "contact@ministryofvelocity.com", "mailto:contact@ministryofvelocity.com" %>
  <%= link_to "@minifast", "https://twitter.com/minifast" %>
</h2>

<form>
  <h1>We'll be in touch soon!</h1>
</form>
